 <h1>Blog Anónimo</h1>
   <form action="/post/<%= @post.id %>" method="POST" >
    <input type="hidden" name="_method" value="PUT">
     Título:<br>
     <input name="post[title]" type="text"  value="<%= @post.title %>"><br>
     Texto:<br>
     <input name="post[body]" type="text" value="<%= @post.body %>"><br>
      Tag:<br>
      <input name="tags[tag]" type="tag"><br>
     <input type="submit" value="Postea!">
   </form>


  <div>
    <form action="/post/<%= @post.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Borrar!">
    </form>
  </div>