  <h1>Blog Anónimo</h1>

 
    <form action="/post" method="POST" >
      Título:<br>
      <input name="post[title]" type="text"><br>
      Texto:<br>
      <input name="post[body]" type="text"><br>

      <label for="post_tags">Tags:</label>
<input id="post_tags" name="post[tags]"><br>

      <input type="submit" value="Crear!">
    </form>
  
  <div>
    <form action="/show" method="GET">
      <input type="submit" value="Ver Posts">
    </form>
  </div>
  
