<h1> Blog Anónimo </h1>

<% @post.each do |p| %>
  <p>
    Titulo: 
    <a href="/post/<%= p.id %>/edit"><%= p.title %></a><br>
    Texto:
    <%= p.body %> </br>
    <% if ( p.tag != nil ) && ( p.tag != "" )%>
      Tag:
      <%= p.tag %><br>
    <% end %>
  </p>
<% end %>

  <div>
    <form action="/" method="GET">
      <input type="submit" value="Crear Post!">
    </form>
  </div>
