<h1> Blog Anónimo </h1>

<% @post.each do |p| %>
  <p>
    Titulo: 
    <a href="/post/<%= p.id %>/edit"><%= p.title %></a><br>
    Texto:
    <%= p.body %> </br>
    
    Tag:
    <ul>
      <% p.tags.each do |t| %>
        <li><a href="/tag/<%t.id%>"><%= t.tag %></li><br>
      <% end %>
    </ul>
  </p>
<% end %>

  <div>
    <form action="/" method="GET">
      <input type="submit" value="Crear Post!">
    </form>
  </div>
